<div class="col-md-6">
    <h2>Video Details</h2>
  
    <table class="table table-striped">
      <thead>
      <tr>
        
        <th class="hidden">Id</th>
        <th>Video name</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Video link</th>
        <th>Thumbnail</th>
        <th>Age limit</th>
        <th>Rating</th>
  
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let video of videos">
  
        <td class="hidden">{{video.id}}</td>
  
        <td>
            <input type="text" [(ngModel)]="video.videoName" [disabled]="!video.isEditable"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="video.genre" [disabled]="!video.isEditable"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="video.description" [disabled]="!video.isEditable"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="video.videoLink" [disabled]="!video.isEditable"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="video.videoThumbnail" [disabled]="!video.isEditable"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="video.ageLimit" [disabled]="!video.isEditable"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="video.rating" [disabled]="!video.isEditable"/>
          </td>
          
          <td><button class="btn btn-danger" (click)="deleteVideo(video)"> Delete Video</button></td>
          <td>
            <button class="btn btn-danger" (click)="video.isEditable=!video.isEditable" *ngIf="!video.isEditable">Edit Video</button>
            <button class="btn btn-danger" *ngIf="video.isEditable" (click)="video.isEditable=!video.isEditable" (click)="editVideo(video)">Save Video</button>
          </td>
        
      </tr>
      </tbody>
    </table>
  </div>
