<div class="col-md-6">
  <h2 class="text-center">Add Video</h2>

  <div>
    <form [formGroup]="addVideoForm" (ngSubmit)="onFormSubmit()">
      <ul>
      <li (click)="deleteVideo(i)" *ngFor="let video of video2 | async; let i = index">
      <p>Video name: <input formControlName="videoName" class="form-control" value="{{video.videoName}}" #videoName></p>
      
      <p>Genre: <input formControlName="genre" class="form-control" value="{{video.genre}}" #genre></p>

      <p>Description: <input formControlName="description" class="form-control" value="{{video.description}}" #description></p>

      <p>Video link: <input formControlName="videoLink" class="form-control" value="{{video.videoLink}}" #videoLink></p>

      <p>Video thumbnail: <input formControlName="videoThumbnail" class="form-control" value="{{video.videoThumbnail}}" #videoThumbnail></p>

      <p>Age limit: <input formControlName="ageLimit" class="form-control" value="{{video.ageLimit}}" #ageLimit></p>

      <!-- <p>Rating: <input formControlName="rating" class="form-control" value="video.rating" #rating></p> -->

      <p><button type="submit" class="btn btn-primary my-2" (click)="addVideo('', videoName.value, genre.value, description.value, videoLink.value, videoThumbnail.value, ageLimit.value, rating.value)">Create</button></p> 
      
      </li>
      </ul>
    </form>
  </div>

</div>
