<main role="main">

  <section class="jumbotron text-center">
    <img src="https://wallpapercave.com/wp/l3pDmne.jpg" alt="Movie_item1" width="1250"><br><br>
    
    <div class="container">  
      <h1 class="jumbotron-heading">Movie list</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="/admin" class="btn btn-primary my-2">Go to the admin page</a>
        <br>
        <a href="/add" class="btn btn-secondary my-2">Go to the add movie page</a>
      </p>
    </div>
  
  <div class="album py-5 bg-light">
    <div class="container">    
      <div class="row">
                  
        <a class="col-md-3" *ngFor="let video of videos" [routerLink]="['/detail', video.id]">
        <div class="card mb-4 shadow-sm video">
          <h2>{{video.videoName}}</h2>
          <img src="{{video.videoThumbnail}}" alt="{{video.VideoName}}}" height="225" >
                        
          <div class="card-body">
            <p class="card-text">{{video.description}}</p>
            <div class="d-flex justify-content-between align-items-center">           
              <small class="text-muted">{{video.genre}}</small>

              <div class="btn-group">
                  <button type="button" class="btn btn-primary my-2">View</button>
                </div>
            </div>
          </div>
        </div>
        </a>
                
      </div> 
    </div>  
  </div>
  </section>
</main>